# PANDAS

In [3]:
import pandas as pd

#### Load data from CSV

In [ ]:
df = pd.read_csv('Mall_Customers.csv')

In [ ]:
df.head(6)

#### Data Frame Operations

**A DataFrame is a two-dimensional data structure in which the data is aligned in a tabular form i.e. in rows and columns. Pandas DataFrames make manipulating your data easy. You can select, replace columns and rows and even reshape your data.**

In [ ]:
# Get dataframe info

In [ ]:
df.info()

In [ ]:
# Rename column

df = df.rename(columns={'Genre' : 'Gender'})

In [ ]:
df.head()

In [ ]:
# Add column
df['Address'] = ''

In [ ]:
df.head()

In [ ]:
#Remove column

In [ ]:
del df['Address']

In [ ]:
df.head()

In [ ]:
# Select one or multiple column columns

In [ ]:
df2  = df[['Gender','Age']]

In [ ]:
df2.head()

In [ ]:
# select rows with a condition
df.loc[(df.Age>20) & (df.Gender=='Male')] [['Annual Income (k$)']]

In [ ]:
# select rows with a condition

In [ ]:
#slice dataframe
df.loc[1:3]

In [ ]:
df.iloc[1:3,2:4]

### Mapping/Dict/Dictionary (Key , Value)
Python Dictionary is an unordered collection of key-value pairs. Itâ€™s defined using braces and the elements are separated using comma. The key and value can be of any type. The key-value pair is defined using colon (key:value).

In [ ]:
#create dictionary

In [1]:
d = {'col1':[1,2,4], 'col2':[6,7,8]}

In [ ]:
#load dictionary into dataframe

In [4]:
df = pd.DataFrame.from_dict(d)

In [5]:
df.head()

   col1  col2
0     1     6
1     2     7
2     4     8

### List

In [ ]:
#create list

In [6]:
l1 = ['one','two','three']
l2 = [1,2,3]
l = [l1,l2]

In [ ]:
#create dataframe from list

In [7]:
df = pd.DataFrame(l)

In [8]:
df.head()

     0    1      2
0  one  two  three
1    1    2      3

In [ ]:
#other option to load data into dataframe
pd.re