In [15]:
import pandas as pd
from sklearn import linear_model

In [16]:
df = pd.read_excel('hr.xlsx')

In [17]:
df

   experience  test_score  interview_score  salary
0           6           8                9   65000
1           6           8                6   45000
2           5           6                7   60000
3           2          10               10   65000
4           7           9                6   70000
5           3           7               10   62000
6          10           8                7   72000
7          11           7                8   80000

In [18]:
lr = linear_model.LinearRegression()
lr.fit(df[['experience', 'test_score','interview_score']],df.salary)

LinearRegression()

In [19]:
lr.predict([[6,9,8]])

array([66277.61836442])

In [20]:
lr.predict([[11,9,9]])

array([85832.85509326])

In [21]:
tdf =  pd.read_excel('testdata.xlsx')

In [22]:
tdf

   experience  test_score  interview_score
0           6           9                8
1          11           9                9
2          12           7                7
3           4           8                6
4           5           9                9

In [23]:
tdf['salary'] = lr.predict(tdf)

In [24]:
tdf

   experience  test_score  interview_score        salary
0           6           9                8  66277.618364
1          11           9                9  85832.855093
2          12           7                7  77795.313247
3           4           8                6  50438.546150
4           5           9                9  67269.010043

In [25]:
tdf.to_csv('predict.csv')